<ion-view class="account-page" view-title="{{'MY_ACCOUNT' | translate}}">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-drag" style="font-size: 30px; margin-left: 10px; z-index: 9999;" ng-click="toggleLeft()"></i>
            <h1 class="title ios_title" >{{'MY_ACCOUNT' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bl" ng-class="{'arabic-support': language =='ar'}">
        <div class="cnt">
            <div class="userinfoHead bluehead">{{'USER_INFORMATION' | translate}}</div>
            <div class="hfrm">
                <div class="fr">

                    <div class="lbl">
                        <span ng-if="language =='ar'">:</span>
                        {{'FIRST_NAME' | translate}}
                        <span ng-if="language =='en'">:</span>
                    </div>
                    <input type="text"  ng-model="user.first_name"/>
                </div>
                <div class="fr">
                    <div class="lbl">
                        <span ng-if="language =='ar'">:</span>
                        {{'LAST_NAME' | translate}}
                        <span ng-if="language =='en'">:</span>
                    </div>
                    <input type="text" ng-model="user.last_name" />
                </div>
                <div class="fr">
                    <div class="lbl">
                        <span ng-if="language =='ar'">:</span>
                        {{'EMAIL' | translate}}
                        <span ng-if="language =='en'">:</span>
                    </div>
                    <input type="text" ng-model="user.email" />
                </div>
                <div class="fr">
                    <div class="lbl">
                        <span ng-if="language =='ar'">:</span>
                        {{'MOBILE' | translate}}
                        <span ng-if="language =='en'">:</span>
                    </div>
                    <input type="text" ng-model="user.mobile" />
                </div>

            </div>
            <div class="clr mrg" style="margin-bottom: 30px">
                <div class="changepasswordbtn" ng-click="changePassword()">{{'CHANGE_PASSWORD' | translate}}</div>

            </div>
            <div class="userinfoHead2 bluehead">{{'PATIENT_INFORMATION' | translate}}</div>
            <div class="hfrm">
                <div class="fr">
                    <div class="lbl">
                        <span ng-if="language =='ar'">:</span>
                        {{'DOB' | translate}}
                        <span ng-if="language =='en'">:</span>
                    </div>
                    <input type="text" ng-model="user.patient.dob" />
                </div>
                <div class="fr form-field">
                    <div class="lbl label" ng-click="toggle('blod_type')">
                        <span ng-if="language =='ar'">:</span>
                        {{ 'BLOOD_GROUP' | translate}}
                        <span ng-if="language =='en'">:</span>
                        <span class="pull-right value" ng-repeat="item in bloodGroupArray" ng-if="user.blod_type == item.id">{{item.value}}</span>
                    </div>
                    <ion-list ng-if="accountTheme.blod_type">
                        <ion-radio ng-click="toggle('blod_type')" ng-model="user.blod_type" ng-repeat="item in bloodGroupArray" ng-value="item.id">{{item.value}}</ion-radio>
                    </ion-list>
                </div>
                <div class="fr form-field">
                    <div class="lbl label" ng-click="toggle('gender')">
                        <span ng-if="language =='ar'">:</span>
                        {{'GENDER' | translate}}
                        <span ng-if="language =='en'">:</span>
                        <span class="pull-right value" ng-if="user.gender == 1">{{'MALE' | translate}}</span>
                        <span class="pull-right value" ng-if="user.gender == 0">{{ 'FEMALE'| translate}}</span>
                    </div>
                    <ion-list ng-if="accountTheme.gender">
                        <ion-radio ng-click="toggle('gender')" ng-model="user.gender" ng-value="1">{{'MALE' | translate}}</ion-radio>
                        <ion-radio ng-click="toggle('gender')" ng-model="user.gender" ng-value="0">{{ 'FEMALE'| translate}}</ion-radio>
                    </ion-list>
                </div>
            </div>
        </div>
        <br/></br/>
    </ion-content>


    <div class="bar bar-footer theme-button-bg" ng-click="updateMyAccount()">
        <div class="title">{{ 'UPDATE' | translate}}</div>
    </div>
</ion-view>