<ion-view view-title="Chat" cache-view="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="close()">
                <i class="icon ion-ios-arrow-back"> </i>
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
        </ion-nav-buttons>

    </ion-nav-bar>
    <div class="bar bar-subheader" ng-if="ShowNextbutton==true">
        <button class="button button-block greenbtn" ng-click="moveUser();">
            MOVE TO THE NEXT <i class="icon ion-ios-arrow-thin-right"> </i>
        </button>
    </div>
    <ion-content class="padding" ng-class="(ShowNextbutton==true) ? 'has-subheader' : ''" id="chatpage" style="padding-top:40px">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getMessages()">
        </ion-refresher>
        <div ng-if="chattype=='my'">

            <div ng-repeat="msg in messages | filter:ChatFilter" ng-class="(msg.sender_id==0) ? 'owner' :'reciever'" class="msgs">

                            <div class="cn"> </div>

                <div class="cu"> {{ChatUser.name}} </div> {{msg.message}}
                <div class="ct"> {{msg.created_at | toDate | date:'shortTime'}} </div>
                <div class="cl"> </div>
                <span> <div ng-if="msg.sender_id!=0"> <img src="{{ChatUser.image}}"/> </div>
            <div ng-if="msg.sender_id==0"> <img src="{{user.image}}"/> </div>
               </span>
            </div>
        </div>



        <div ng-if="chattype=='yt'">
            <div ng-repeat="msg in messages" ng-class="(msg.sender_id==0) ? 'reciever' :'owner'" class="msgs">
                <div class="cn"> </div>

                <div class="cu"> {{ChatUser.name}} </div> {{msg.message}}
                <div class="ct"> {{msg.created_at | toDate | date:'shortTime'}} </div>
                <div class="cl"> </div>
  <span> 
            <div ng-if="msg.sender_id==0"> <img src="{{ChatUser.image}}"/>   </div>
            <div ng-if="msg.sender_id!=0"> <img src="{{user.image}}"/>  </div>
              </span>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="sendsms(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear" ng-click="sendsms()">
            Send
        </button>
    </ion-footer-bar>
</ion-view>
