<ion-view view-title="{{d.title}}" cache-view="true">
 <ion-nav-bar class="bar-stable nav-title-slide-ios7">
 
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="close()">
             <i class="icon ion-ios-arrow-back"> </i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>

    <ion-content class="padding has-header">



          <button class="button-icon icon ion-ios7-arrow-back" ng-click="reset()">
             
        </button>  <div ng-bind-html="d.description"></div>
    </ion-content>
</ion-view>
