<ion-view hide-nav-bar="true">
    <ion-content padding="true" class="bl confirmation-account-page" id="login" scroll="false">
        <form ng-submit="submitCode()" novalidate="">
            <div class="logo-inner"></div>
            <div class="list frmlist">
                <label class="item item-input block">
                    <div>
                        <span class="input-label">{{'PLEASE_ENTER_VERIFICATION' | translate}}</span>
                    </div>
                    <input type="number" placeholder="****" ng-model="confirmation_form.code" class="txt icon icon-user">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit">{{'SUBMIT' | translate}}</button>
        </form>
        <div style="width: 300px; margin: 0 auto">
            <button class="button button-block button-positive btngreen" ng-click="resendCode()">
                {{'RESEND_CODE' | translate}}
            </button>
            <div class="text-center"><a ui-sref="start.login" class="forgotpassword txt">{{'BACK' | translate}}</a></div>
        </div>
    </ion-content>
</ion-view>