<ion-view view-title="Forgot" hide-nav-bar="true">
    <ion-content padding="true" class="bl" id="login" scroll="true">
        <form ng-submit="submitContactus()" novalidate="" ng-class="{'arabic-support': language == 'ar'}">
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="{{'YOUR_NAME' | translate}}" ng-model="contactus.name" class="txt">
                </label>
            </div>
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="966505XXXXXXXX" ng-model="contactus.mobile" class="txt">
                </label>
            </div>
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="{{'EMAIL'|translate}}" ng-model="contactus.email" class="txt">
                </label>
            </div>
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="{{'MESSAGE' | translate}}" ng-model="contactus.body" class="txt">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit" ng-disabled="!contactus.body || (!contactus.email && !contactus.mobile)"> {{'SUBMIT' | translate}} </button>
            <div class="text-center"> <a ui-sref="start.login" class="forgotpassword txt">{{'BACK' | translate}}</a> </div>
        </form>
    </ion-content>
</ion-view>