<ion-view view-title="{{'DOCTOR_LIST' | translate}}" cache-view="true">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >{{'DOCTOR_LIST' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" id="DocListing">

        <div class="filteroptions">

            <a ng-click="showsort()" class="sort">{{'SORT' | translate}}</a>
            <!-- <a ng-click="showfilter()" class="filter">{{'FILTER' | translate}}</a> -->
        </div>
        <div class="doclist">
            <div ng-repeat="d in data | orderBy: _orderBy" ui-sref="tab.doctor-detail({'id':d.id})">
                <div class="doc">
                    <div class="clear">
                        <div class="dimg">
                            <img src="{{d.avatar}}" >
                        </div>
                        <div class="dinfo">

                            <div class="o">
                                <h4>{{d.distance}} KM</h4>
                                <div class="f">
                                    <i class="icon ion-android-star" ng-if='d.rating>=1'></i>
                                    <i class="icon ion-android-star" ng-if='d.rating>=2'></i>
                                    <i class="icon ion-android-star" ng-if='d.rating>=3'></i>
                                    <i class="icon ion-android-star" ng-if='d.rating>=4'></i>
                                    <i class="icon ion-android-star" ng-if='d.rating>=5'></i>
                                    <i class="icon ion-android-star-outline" ng-if='d.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='d.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='d.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='d.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='d.rating==0'></i>
                                </div>
                            </div>


                            <h3> {{d.name}} </h3>
                            <div class="mt"><i class="icon ion-person"> </i> 
                                <span ng-if="language == 'en'">{{d.specialty.value_en}}</span>
                                <span ng-if="language == 'ar'">{{d.specialty.value_ar}}</span>
                            </div>
                            <div class="mt"><i class="icon ion-ios-location-outline"> </i>{{d.address}}</div>
                        </div>
                    </div>
                </div>
                <div class="bdr">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>