<ion-view view-title="{{'DOCTOR_DETAIL' | translate}}" cache-view="true">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >{{'DOCTOR_DETAIL' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" id="DocListing">
        <div class="doclist">

            <div>
                <div class="doc">
                    <div class="clear">
                        <div class="dimg">
                            <img src="{{data.avatar}}">
                        </div>
                        <div class="dinfo">
                            <div class="o">
                                <h4>{{data.distance}} KM </h4>
                                <div class="f">
                                    <i class="icon ion-android-star" ng-if='data.rating>=1'></i>
                                    <i class="icon ion-android-star" ng-if='data.rating>=2'></i>
                                    <i class="icon ion-android-star" ng-if='data.rating>=3'></i>
                                    <i class="icon ion-android-star" ng-if='data.rating>=4'></i>
                                    <i class="icon ion-android-star" ng-if='data.rating>=5'></i>
                                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                                </div>
                            </div>
                            <h3> {{data.name}} </h3>
                            <div class="mt"><i class="icon ion-person"> </i>
                                <span ng-if="language == 'en'">{{d.specialty.value_en}}</span>
                                <span ng-if="language == 'ar'">{{d.specialty.value_ar}}</span>
                            </div>
                            <div class="mt"><i class="icon ion-ios-location-outline"> </i> {{data.address}}
                                <br> </div>

                        </div>
                        <div class="timings clear" data-tap-disabled='true'>
                            <div class="t" ng-repeat="d in data.time_slots" ng-click="newappointment('{{$index}}');">
                                <span>  {{d.date | date : 'dd MMM'}} </span> <span>{{d.time_from}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="map" ng-if="data.latitude && myLocation == undefined">
                
            <gm-map zoom="17" center="[{{data.latitude}}, {{data.longitude}}]" options="{mapTypeId: google.maps.MapTypeId.ROADMAP}" ng-click="getDirection()">
                <gm-marker position="{{position.position}}">
                </gm-marker>
            </gm-map>
        </div>
        <div class="doclist">
            <div ng-repeat="r in data.reviews">
                <div class="doc">
                    <div class="clear">
                        <div class="dinfo">
                            <div class="o">
                                <h4> </h4>
                                <div class="f">
                                    <i class="icon ion-android-star" ng-if='r.stars>=1'></i>
                                    <i class="icon ion-android-star" ng-if='r.stars>=2'></i>
                                    <i class="icon ion-android-star" ng-if='r.stars>=3'></i>
                                    <i class="icon ion-android-star" ng-if='r.stars>=4'></i>
                                    <i class="icon ion-android-star" ng-if='r.stars>=5'></i>
                                    <i class="icon ion-android-star-outline" ng-if='r.stars==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='r.stars==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='r.stars==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='r.stars==0'></i>
                                    <i class="icon ion-android-star-outline" ng-if='r.stars==0'></i>

                                </div>
                            </div>
                            <h3> {{r.username}} </h3>
                            <div class="mt"><i class="icon ion-person"> </i> {{r.comment}}</div>
                        </div>
                    </div>
                </div>
                <div class="bdr">
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </ion-content>
    <div class="bar bar-footer theme-button-bg" ng-click="giveReview()" ng-if="data.can_review">
        <div class="title">{{'ADD_A_REVIEW' | translate}}</div>
    </div>
</ion-view>
<script id="map-direction.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header bar-stable">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 15px;" ng-click="closeDirection()"></i>
        </div>
        <ion-content ng-if="myLocation">
            <div map-lazy-load="https://maps.google.com/maps/api/js" ng-style="{'height':mapHeight}" style="margin-top:40px;">
                <ng-map center="{{data.latitude}}, {{data.longitude}}" zoom="3" ng-style="{'height':mapHeight}" >
                    <directions 
                        draggable="true" 
                        panel="directions-panel" 
                        travel-mode="" 
                        waypoints="{{wayPoints}}" 
                        origin="{{docLocation}}"
                        destination="{{myLocation}}">
                    </directions>
                </ng-map>
            </div>
        </ion-content>
    </ion-modal-view>
</script>