<ion-view view-title="{{'INSURANCE_COMPANIES' | translate}}" cache-view="false">
    <ion-content class="bl">
        <div class="cnt">
            <div class="slist">
                <a ng-repeat="d in data" ng-click="showList({{d.id}});" ng-class="{ 'text-right item item-icon-left': language == 'ar'}">
                    <span ng-if="language == 'en'">{{d.value_en}}</span>
                    <span ng-if="language == 'ar'">{{d.value_ar}}</span>
                    <i class="icon" ng-class="{ 'ion-chevron-right': language == 'en', 'ion-chevron-left': language == 'ar'}"></i>
                </a>
             </div>
        </div>
    </ion-content>
</ion-view>