<ion-view view-title="{{'MY_APPOINTMENTS' | translate}}" cache-view="false">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-drag" style="font-size: 30px; margin-left: 10px; z-index: 999" ng-click="toggleLeft()"></i>
            <h1 class="title ios_title" >{{'MY_APPOINTMENTS' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="false" id="MyAppointmentListing">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div class="my-appointment-list">
            <!--<div ng-repeat="d in data" class="item">
                <div class="doc">
                    <div class="clear">
                        <div class="dimg">
                            <img src="{{d.avatar}}" ui-sref="tab.doctor-detail({'id':d.id})">
                        </div>
                        <div class="dinfo">
                        <h3 ui-sref="tab.doctor-detail({'id':d.id})"> {{d.name}} </h3>
                            <div class="mt"><i class="icon ion-person"> </i> {{d.specialty.value_en}}</div>
                            <div class="mt"><i class="icon ion-ios-location-outline"> </i>{{d.address}}</div>
                        </div>
                    </div>
                </div>
                <div class="bdr">
                </div>
            </div>-->
            <div ng-repeat="d in data">
                <a class="item">
                    <h4>#{{d.appointment_id}}</h4>
                    <span> 
                        <b>{{d.doctor_name}}</b>
                    </span>
                    <span class="pull-right">
                        <span ng-if="language == 'en'">{{d.status.value_en}}</span>
                    <span ng-if="language == 'ar'">{{d.status.value_ar}}</span>
                    </span>
                    <p>{{d.date | date : 'dd MMM'}} ( {{d.from | date:'shortTime'}} - {{d.to | date:'shortTime'}} )</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>