<ion-view view-title="New Appointment" cache-view="true">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >New Appointment</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bl" id="NewAppointment">
        <div class="blsmhead" style="margin-bottom: 20px;margin-top: 20px;"> {{'CHECK_YOUR_APPOINTMENT'| translate}} </div>
        <div class="whitebox">
            <div class="doc" style="padding:0px;">
                <div class="clear">
                    <div class="dimg">
                        <img src="{{data.avatar}}">
                    </div>
                    <div class="dinfo">

                        <h3> {{data.name}} </h3>
                        <div class="mt"><i class="icon ion-person"> </i> {{data.specialty.value_en}}</div>
                        <div class="mt"><i class="icon ion-ios-location-outline"> </i> {{data.address}}</div>


                    </div>
                </div>
            </div>
            <div class="Daybox">
                <span class="dayhead">   Day</span>
                <div class="dayDetails">
                    {{timeslot.date | date:'dd MMM'}}
                </div>
            </div>
            <div class="Daybox">
                <span class="dayhead">   TIME</span>
                <div class="dayDetails timedetails">
                    {{timeslot.time_from}} - {{timeslot.time_to}}
                </div>
            </div>
            <div class="ApRating">
                <div class="ApratingLabel"> {{data.distance}} KM</div>
                <div class="f">
                    <i class="icon ion-android-star" ng-if='data.rating>=1'></i>
                    <i class="icon ion-android-star" ng-if='data.rating>=2'></i>
                    <i class="icon ion-android-star" ng-if='data.rating>=3'></i>
                    <i class="icon ion-android-star" ng-if='data.rating>=4'></i>
                    <i class="icon ion-android-star" ng-if='data.rating>=5'></i>
                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                    <i class="icon ion-android-star-outline" ng-if='data.rating==0'></i>
                </div>
            </div>
        </div>
        <div class="blue-boxline"> </div>
        <div class="padding mrg">
            <button class="button button-block button-positive btngreen" ng-click="saveAppointment()">{{'GO' | translate}}</button>
        </div>
    </ion-content>

</ion-view>
<div class="confirm-booking-popup" ng-if="appontmentNumber">
    <div>
        <i class="ion-checkmark-circled"></i>
        <div>
            <b>{{'APPOINTMENT_SUCCESSFUL' | translate}}</b>
            <br/><br/>
            <p>
                {{'YOUR_APPOINTMENT_NUMBER_IS' | translate}}: 
                <br/>#{{appontmentNumber}}
            </p>
        </div>
    </div>
</div>