<ion-view view-title="{{ 'HOW_WILL_YOU_PAY' | translate}}">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >{{'HOW_WILL_YOU_PAY' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bl">
        <div class="cnt">
            <div class="slist">
                <a ng-repeat="d in data" ng-click="showList({{d.id}});" ng-class="{ 'text-right item item-icon-left': language == 'ar'}">
                    <span ng-if="language == 'en'">{{d.value_en}}</span>
                    <span ng-if="language == 'ar'">{{d.value_ar}}</span>
                    <i class="icon" ng-class="{ 'ion-chevron-right': language == 'en', 'ion-chevron-left': language == 'ar'}"></i>
                </a>
             </div>
        </div>
    </ion-content>
</ion-view>
