<ion-view hide-nav-bar="true">
    <ion-content padding="true" class="bl" id="login" scroll="true">
        <form ng-submit="doLogin()" novalidate="">
             <div class="logo-inner">
     </div>

            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="login_form.username" class="txt icon icon-user" ng-class="{'arbic-ltr': $root.language == 'ar'}">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="login_form.password" class="txt icon icon-password" ng-class="{'arbic-ltr': $root.language == 'ar'}">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit">
                {{'LOGIN' | translate}}
            </button>

            <div class="text-center">
                <a ui-sref="start.forgot" class="forgotpassword txt">
                    {{'FORGOT_PASSWORD' | translate}}
                </a>
            </div>

            <button class="button button-block button-positive btngreen registerBtn" ui-sref="start.register">
                {{'REGISTER_NEW_ACCOUNT' | translate}}
            </button>
        </form>
        <div class="text-center" style="width: 300px; margin: 0 auto; color: #3f7493; font-size: 20px;" ng-click="switchLanguage()">
               <span ng-if="language == 'en'">عربي</span>
                <span ng-if="language == 'ar'">English</span>
        </div>
    </ion-content>
</ion-view>