<ion-view view-title="Privacy Policy" hide-nav-bar="true">
    <ion-content padding="true">
    <h1> Privacy Policy </h1>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lobortis turpis. Quisque venenatis mauris odio, sed semper quam sagittis vel. Phasellus vitae ullamcorper eros, at dapibus est. Phasellus pellentesque cursus libero, non feugiat tortor dictum eget. Suspendisse vel odio lorem. Vivamus id mi in risus faucibus facilisis vel vitae ex. Nullam aliquam tincidunt ligula, ac maximus ante pellentesque vel. Vivamus et vehicula augue. Duis vehicula dignissim sapien sed hendrerit. Quisque id finibus arcu. Sed viverra ex eu accumsan dictum. Integer blandit bibendum porttitor. Cras aliquam, ligula eu dignissim suscipit, metus ligula varius erat, et vestibulum elit enim at est.
        </p>
        <button class="button button-block button-positive" ng-click="goback()">
            Close
        </button>
    </ion-content>

</ion-view>
