<ion-view view-title="Forgot" hide-nav-bar="true">
    <ion-content padding="true" class="bl" id="login" scroll="false">
        <form ng-submit="forgotPassword()" novalidate="">
             <div class="logo-inner">
     </div>

            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="Email Address" ng-model="login_form.email" class="txt icon icon-user">
                </label>
       
            </div>
            <button class="button button-block button-positive" type="submit">
                {{'SUBMIT' | translate}}
            </button>

            <div class="text-center">
                <a ui-sref="start.login" class="forgotpassword txt">{{'BACK' | translate}}</a>
            </div>

 
        </form>
    </ion-content>
</ion-view>