<ion-view view-title="{{'REGISTER_NEW_ACCOUNT' | translate}}" cache-view="false">
    <ion-content padding="true" class="bl" id="Register">
        <form novalidate="" ng-submit="registerAccount()">
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="{{'FIRST_NAME' | translate}}" ng-model="form.first_name" class="txt icon icon-user" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'LAST_NAME' | translate}}" ng-model="form.last_name" class="txt icon icon-password" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="966505XXXXXXXX" ng-model="form.mobile" class="txt icon icon-phone" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'EMAIL'|translate}}" ng-model="form.email" class="txt icon icon-email" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
                    <label class="item item-input item-select" style="height: 60px;" ng-class="{'arabic': $root.language == 'ar'}">
                     <span style="width: 100%; border-bottom: solid 1px #b0b0b0;" ng-if="language == 'en'">
                        <div class="input-label icon icon-user">
                            <span style="margin-left: 55px; color: #3f7493; font-family: 'latolight'; font-size: 17px;"> {{'GENDER' | translate}} </span>
                        </div>
                        <select style="background: transparent" ng-model="form.gender">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </span>
                    <span style="width: 100%; border-bottom: solid 1px #b0b0b0;" ng-if="language == 'ar'">
                        <select style="background: transparent" ng-model="form.gender" class="arabic">
                            <option value="1">{{'MALE' | translate}}</option>
                            <option value="0">{{'FEMALE' | translate}}</option>
                        </select>
                        <div class="input-label icon icon-user" style="float:right;background-position-x: 83%;">
                            <span style="color: #3f7493; font-family: 'latolight'; font-size: 17px; float: right; margin-right: 35%;"> {{'GENDER' | translate}} </span>
                        </div>
                    </span>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="form.password" class="txt icon icon-password" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}" ng-model="form.password_confirmation" class="txt icon icon-password" ng-class="{'arbic-ltr-register': $root.language == 'ar'}">
                </label>
            </div>
            <button class="button button-block button-positive" ng-disabled="disbalesubmit">
                {{'SUBMIT' | translate}}
            </button>
            <div class="text-center">
                <a ng-click="myGoBack()" class="forgotpassword txt">{{'BACK' | translate}}</a>
            </div>
        </form>
    </ion-content>
</ion-view>