 
  <ion-modal-view>
<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
<a class="button button-clear button-dark" ng-click="cl();" style="color:#858585">Cancel </a>
  </div>
  <h1 class="title">Post</h1>
    <div class="buttons">
<a class="button button-clear button-dark" style="color:#59c7e7;font-weight: bold!important;" ng-click="submitform();" ng-disabled="disbalesubmit">Create </a>
  </div>
</ion-header-bar>
    <ion-content class="whitebg" padding="true">
        <form novalidate="" ng-submit="submitform();">
            <div class="ImageSelection" ng-click="showPictureChoice();">
 
                <img id="picimg" style="display:none;" />
            </div>
            <input type="text" placeholder="Product Title" ng-model="form.NewPostTitle" class="NewPostTitle">
            <textarea type="text" placeholder="Description (optional)" ng-model="form.Info" class="Info"> </textarea>
            <input type="hidden" value="" id="filename" />
         </form>
    </ion-content>
</ion-modal-view>
