<ion-view view-title="{{'Search_By_Name' | translate}}">
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >{{'Search_By_Name' | translate}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="bl" id="searchname" scroll="false">
        <form ng-submit="doLogin()" novalidate="" class="" style="margin-top:50px">
            <div class="list frmlist">
                <label class="item item-input">
                    <input type="text" placeholder="Doctor Name" ng-model="frm.doctorName" class="txt icon icon-searchuser">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Clinic Name" ng-model="frm.clinicName" class="txt icon icon-searchuser">
                </label>
            </div>
            <button class="button button-block button-positive btngreen" ng-click="searchDoctors()">
                Go
            </button>
        </form>
    </ion-content>
</ion-view>
