<ion-view view-title="Change Password">
    <ion-content padding="true" class="bl" id="login" scroll="false">
        <form ng-submit="forgotPassword()" novalidate="" style="margin-top:20px;">


            <div class="list frmlist">
                <label class="item item-input">
                    <input type="password" placeholder="Current Password" ng-model="frm.existingPassword" class="txt">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="New Password" ng-model="frm.newPassword" class="txt">
                </label> <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="frm.confirmPassword" class="txt">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit">
                Submit
            </button>



        </form>
    </ion-content>
</ion-view>