<ion-view view-title="Account" hide-nav-bar="true">
    <ion-content class="accountsettings">
        <div class="Pic">
            <img src="{{$root.user.image}}" />
            <div class="">{{$root.user.name}} </div>
        </div>
 

        <div class="item range range-balanced">
<div class="distanceblock">
           Maximum Distance <span> {{settings.distance}} km </span>

            <input type="range" name="volume" ng-model="settings.distance" min="0" max="100" value="{{settings.distance}}" on-release="setDistance()">
</div>

           
        </div>

     <ion-list>
            <ion-toggle ng-model="settings.enablenotifications" ng-change="setupnotifications()">
                Notifications
            </ion-toggle>
        </ion-list>
  

  


        <a class="settingslist item item-icon-right" ui-sref='cms({"id":3})'>
        <i class="icon ion-ios-arrow-forward"> </i>
    Rules
  </a>
        <a class="settingslist item item-icon-right" ui-sref='cms({"id":2})'>
                <i class="icon ion-ios-arrow-forward"> </i>

    Privacy Policy
  </a>
        <a class="settingslist item item-icon-right" ui-sref='cms({"id":1})'>
                <i class="icon ion-ios-arrow-forward"> </i>

    Terms & Conditions
  </a><a class="item logoutbtn" ng-click="logout();">
    Log Out
  </a>
    </ion-content>
</ion-view>
