<ion-view view-title="{{dt.month | translate}} {{dt.year}}" cache-view="true" >
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-chevron-left" style="font-size: 25px; margin-top: 4px; z-index: 999; width: 30px;" ng-click="back()"></i>
            <h1 class="title ios_title" >{{dt.month | translate}} {{dt.year}}</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="calendar">
            <div class="dy"> {{day | translate}} </div>
            <div class="dt"> 
                {{dt.month | translate}} <span>{{dt.day | translate}}</span> {{dt.year | translate}}  
            </div>
        </div>
        <div class="padding">
            <simple-calendar events="events" options="calendarOptions"></simple-calendar>
        </div>
        <br/><br/>
    </ion-content>
    <div class="bar bar-footer theme-button-bg" ng-click="setCalenderDate()">
        <div class="title">{{'GO' | translate}}</div>
    </div>
</ion-view>