<ion-view view-title="Chats" hide-nav-bar="true" cache-view="false">
    <div>
        <ion-content lazy-scroll style="padding-left:20px;" >
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="getData()">
            </ion-refresher>
            <div ng-if="notasks==false">
                <ion-list class="favlist">
                    <ion-item class="item-icon-right" ng-repeat="d in data" 
                    ng-class="d.is_active==1 ? 'active' : 'notactive'"  id="mypost{{$index}}">
                    <div class="bimg" image-lazy-background-image="true" style="background-image:url(http://itdevelopers.dk/laravel/public/timthumb.php?w=160&h=160&src={{d.image}})" ng-click="det({{$index}});">
                    </div>

                                                            <div class="c">

                        <h2>{{d.title}}</h2>
                        <p ng-if="d.has_message>0">{{d.lastText}}</p>
                        <p ng-if="d.new_message_count==0">{{d.description}}</p>
                        <p ng-if="d.new_message_count>0">{{d.message}}</p>
                        <div class="q" ng-if="d.queue>0">
                            <div class="usericons"> </div> {{d.queue}}
                        </div>
                        <div class="cht" ng-if="d.is_active==1"  ng-click="openchat({{$index}})"> <span> {{d.new_message_count}} </span> </div>
                        <ion-option-button class="button-assertive" ng-if="d.is_active==1" ng-click="rem({{$index}});"> <i class="icon ion-ios-trash-outline"></i>  <span>Delete</span></ion-option-button>
                        <ion-option-button class="button-balanced" ng-if="d.is_active==0" ng-click="ac({{$index}});"> Activate </ion-option-button>

                        </div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="errormessage" ng-if="notasks==true">
                No Tasks defined
            </div>
        </ion-content>
    </div>
</ion-view>
