<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <a class="button icon-left ion-ios-arrow-back button-clear button-dark" ng-click="cl();"> </a>
        </div>
        <h1 class="title">{{d.title}}</h1>
    </ion-header-bar>
    <ion-content class="padding greybg" id="ItemDetail">
        <ion-list class="vlist">
            <ion-item class="">
                <div class="imgcont">
                    <img image-lazy-src='http://itdevelopers.dk/laravel/public/timthumb.php?w=400&h=250&a=c&src={{d.image}}' ng-click="fullscreen('{{d.image}}');">
                </div>
                <div class="meta">
                    <div class="menubtn" ng-click="rptdetail('{{d.id}}');"> </div>
                    <h4> {{d.title}}  </h4>
                    <div class="locationbtn">  </div> <span> {{d.distance}} KM AWAY </span>  </span>
                    <div class="desc" style="display:block">
                        <p> {{d.description}} </p>
                        <button class="submitbtn" ng-click="takeit_detail('{{d.id}}');" ng-show="hideTakeit==false"> TAKE IT</button>
                        <button class="submitbtn btn2 icon-left ion-checkmark" ng-click="removeQueue();" ng-show="showRemoveBtn==true"> YOUR TAKE</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
