<ion-view view-title="" cache-view="false" class='home-page'>
    <ion-nav-bar class="bar-stable home-page-bar">
        <ion-nav-buttons side="primary">
            <i class="ion-drag" style="font-size: 30px; margin-left: 10px;" ng-click="toggleLeft()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content lazy-scroll class="bluebg has-header" scroll="true">
        <div class="logo-inner">
        </div>
        <div class="cnt">
            <a href="" class="rbtn" ng-click="book_now()">{{ 'BOOK_NOW' | translate}}</a>
            <a href="" class="rbtn" ui-sref="tab.calendar">{{'BOOK_LATER' | translate}}</a>
            <a ui-sref="tab.search" class="rbtn">{{'BOOK_SPECIFIC_DOCTOR' | translate}}</a>
        </div>
    </ion-content>
</ion-view>