<ion-view view-title="Chats" hide-nav-bar="true" cache-view="false">
    <ion-content lazy-scroll style="padding-left:20px;">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getData()"> </ion-refresher>
        <div ng-if="notasks==false">
            <ion-list class="favlist">
                <ion-item class="item-icon-right" ng-repeat="d in data"  id="myfav{{$index}}">
                    <!--                     <img image-lazy-src='{{d.image}}' ng-click="det({{$index}});" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-50"> -->
                    <div class="bimg" image-lazy-background-image="true" style="background-image:url(http://itdevelopers.dk/laravel/public/timthumb.php?w=160&h=160&src={{d.image}})" ng-click="det({{$index}});">
                    </div>
                    <div class="c">
                        <h2>{{d.title}}</h2>
                        <p ng-if="d.has_message==0">{{d.description}}</p>
                        <p ng-if="d.new_message_count>0">{{d.message}}</p>
                        <div class="cht" ng-click="openchat({{$index}})" ng-if="d.has_message>=0">
                            <span ng-if="d.new_message_count>0"> {{d.new_message_count}} </span>
                        </div>
                        <ion-option-button class="button-assertive" ng-click="rem({{$index}});">
                            <i class="icon ion-ios-trash-outline"></i> <span>Delete</span>
                        </ion-option-button>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="errormessage" ng-if="notasks==true">
            No Tasks defined
        </div>
    </ion-content>
</ion-view>
