<ion-side-menus enable-menu-with-back-views="true"  edge-drag-threshold="true" drag-content="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-drag" menu-toggle="left" id="MenuLeft">
                </button>
            </ion-nav-buttons>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="st"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content scroll="false" id="menu">
            <div class="user">
                <!--<a class="userimage" ui-sref="tab.dash" menu-close>
                    <div class="bge">3</div>
                </a>-->
                <div class="username">{{user.first_name || ''}} {{user.last_name}}</div>
                <div class="useraddress">{{user.email}}</div>
            </div>
            <div class="menulist">
                <a h ui-sref="tab.speciality" menu-close> <div class="new"> </div>{{ 'BOOK_NOW' | translate }}</a>
                <a ui-sref="tab.myappointment" menu-close> <div class="my"> </div> {{'MY_APPOINTMENTS' | translate}}</a>
                <a ui-sref="tab.account" menu-close> <div class="account"> </div> {{'ACCOUNT' | translate}} </a>
                <a menu-close ng-click="selectLanguage()"> <div class="ion-earth" style="display: inline-block; margin-right: 10px; font-size:16px;"> </div> {{'SELECT_LANGUAGE' | translate}} </a>
                <a menu-close ui-sref="tab.contactus"> 
                    <div class="ion-android-call" style="display: inline-block; margin-right: 10px; font-size:16px;"> </div> 
                    {{'CONTACT_US' | translate}} 
                </a>
                <a ng-click="logout()" class="signo" nav-clear menu-close> <div class="signout"> </div> {{'SIGN_OUT' | translate}} </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>