simple-calendar * {
  user-select: none;
}

simple-calendar .calendar{
  padding: 0;
  border: 1px solid #dddddd;
  user-select: none;
  background-color: #fff;
}

simple-calendar .move-month {
  cursor: pointer;
}

simple-calendar .prev-month {
  float: left;
  font-size: 50px;
}

simple-calendar .next-month {
  float: right;
  font-size: 50px;
}

simple-calendar .current-month {
  text-align: center;
  padding: 10px 8px;
  font-size: 20px;
  margin-bottom: 5px;
}

/* *********************** */
/* START Week CSS Settings */
/* *********************** */

simple-calendar .week {}

simple-calendar .week:last-child .day {
  overflow:hidden;
 }

/* ********************* */
/* END Week CSS Settings */
/* ********************* */

/* ************************** */
/* START Weekday CSS Settings */
/* ************************** */

simple-calendar .weekday {
  text-align: center;
  padding-right: 0.9px;
  font-size:15px;
  font-family: 'latoregular';
  color: #71d242;
 }

 

 

 
simple-calendar .weekday, .day {
  display: inline-block;
  width: calc(100% / 7);
}

simple-calendar .day {
  border-bottom: none;
  border-left: none;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  color: #3f7493;
  font-family: 'latoregular';
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

simple-calendar .day:hover {
  cursor: pointer;
}

simple-calendar .day.default {
  background-color: #3798d3;
  color: #fff!important;
}

simple-calendar .day.event {
  background-color: #fdf3ea;
}

simple-calendar .day.disabled {
  cursor: default;
  color: #3f7493;
}
.event-title{
  display:none;
}