/* @font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidKufi-Regular/DroidKufi-Regular.eot');
  src: url('../fonts/DroidKufi-Regular/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidKufi-Regular/DroidKufi-Regular.woff2') format('woff2'),
       url('../fonts/DroidKufi-Regular/DroidKufi-Regular.woff') format('woff'),
       url('../fonts/DroidKufi-Regular/DroidKufi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DroidKufi-Bold/DroidKufi-Bold.eot');
  src: url('../fonts/DroidKufi-Bold/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidKufi-Bold/DroidKufi-Bold.woff2') format('woff2'),
       url('../fonts/DroidKufi-Bold/DroidKufi-Bold.woff') format('woff'),
       url('../fonts/DroidKufi-Bold/DroidKufi-Bold.ttf') format('truetype');
}
body {
    font-family: 'Droid Arabic Kufi';
}

.pane,
.view {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
}
.home-page{
    background: url(../img/header.png) no-repeat;
    background-size: cover;
}

.bar.bar-stable.bar-header {
    background: url(../img/header.png) no-repeat;
    background-size: cover;
    color: #fff;
}

.bar .icon {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #000;
    font-weight: 500;
    font-family: 'Droid Arabic Kufi';
    line-height: 1.2;
}

.theme-button-bg{
    background-color: #3d7fa6;
    color: #fff;
}
.txt {
    background: transparent;
}

a {
    color: #3f7493;
    text-decoration: none;
}

.nav-bar-tabs-top.hide~.view-container .tabs-top .tabs {
    top: 14px;
    border: none;
    height: 60px;
}

.platform-ios .nav-bar-tabs-top.hide~.view-container .tabs-top .tabs {
    top: 20px;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: #8CBAD1;
}

.logo-inner {
    display: flex;
    justify-content: center;
    height: 235px;
    width: 100%;
    color: #fff;
    background: url(../img/logo-inner.png) no-repeat center center;
    align-items: center;
    background-size: 185px;
}

input[type="text"].NewPostTitle,
textarea.Info {
    background: #ffffff;
    text-align: left;
    font-size: 15px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    height: auto;
    border-bottom: solid 1px #DDDDDD;
}

textarea.Info {
    height: 200px;
    text-align: left;
}

.submitbtn {
    border: none;
    background: #59C7E7;
    padding: 9px 40px;
    margin: 0 auto;
    color: #fff;
    display: block;
    font-size: 16px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: #3f7493!important;
}

input,
button,
select,
textarea {
    font-family: 'Droid Arabic Kufi';
}

.vlist .item .meta .desc .submitbtn {
    padding: 2px;
    float: left;
    font-size: 22px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.vlist .item .meta .desc .dbtn {
    width: 120px;
    text-align: center;
    float: right;
    padding: 9px;
    text-decoration: none;
}

.vlist .item .meta .desc .submitbtn.activated {
    background: #3ADCB4;
}

.vlist .item-complex .item-content {
    position: relative;
    z-index: 2;
    padding: 0px 0px 0px;
    border: none;
    background-color: #fff;
}

.advertisement {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.advertisement:first-child {
    display: none;
}

.bl {}

.button.button-positive.btngreen {
    background: url(../img/gr-bg.png) repeat-y #54b826;
    background-size: contain;
}

.button.button-positive.activated {
    background: #3f7595;
}

.button.button-positive.btngreen.activated {
    background: #54b826;
}

.icon-user {
    background-image: url(../img/icons/icon-user.png);
}

.icon-password {
    background-image: url(../img/icons/icon-password.png);
}

.icon-phone {
    background-image: url(../img/icons/icon-phone.png);
}

.icon-searchuser {
    background-image: url(../img/icons/search-user.png);
}

.icon-email {
    background-image: url(../img/icons/icon-mail.png);
    background-position-y: 6px;
}

button.registerBtn {
    bottom: 30px;
    width: 300px;
    margin-top: 50px !important;
}

.icon {
    background-repeat: no-repeat;
}

.spinner svg {
    width: 50px;
    height: 50px;
    stroke: #fff;
    fill: #444;
}

.pane[hide-nav-bar="true"] .has-tabs-top {
    top: 75px;
}

.platform-ios .pane[hide-nav-bar="true"] .has-tabs-top {
    top: 80px;
}

.bar.bar-positive .title {
    color: #555555;
}

.bar .title.title-left {
    text-align: center;
    font-weight: bold;
}

.bar.bar-positive {
    border-color: #DBDBDB;
    background-color: #fff;
    background-image: none;
    color: #555;
}

.button.button-dark.button-clear {
    color: #BABABA;
}

#Dashboard .item {
    font-size: 20px;
    border-radius: 10px;
    -moz-box-shadow: 0px 1px 10px #DBDBDB;
    -webkit-box-shadow: 0px 1px 10px #DBDBDB;
    box-shadow: 0px 1px 10px #DBDBDB;
    margin-bottom: 25px;
}

.icon.ion-ios-chatbubble {
    color: #59c7e7;
}

.icon.ion-ios-chatbubble.cht {
    font-size: 49px;
    top: -13px;
    right: -5px;
    width: 46px;
}

.icon.ion-ios-chatbubble.cht span {
    color: #fff;
    font-size: 14px;
    position: relative;
    left: -35px;
    padding: 5px 13px;
    text-align: center;
}

.btn2 {
    background: #3ADCB4
}

.vlist .item .meta .distance {
    display: block;
}

.item.active.item-complex>.item-content,
.item.activated.item-complex>.item-content,
.item-complex.active .item-content.item-complex>.item-content,
.item-complex.activated .item-content.item-complex>.item-content,
.item .item-content.active.item-complex>.item-content,
.item .item-content.activated.item-complex>.item-content {
    border-color: #ccc;
    background-color: #ffffff;
}

.errormessage {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}

#picimg {
    height: 100%;
}

.button.greenbtn {
    background: #3ADCB4;
    border-radius: 0px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

#chatpage {
    background: #F4F4F4;
    padding-bottom: 100px;
}

.bar-subheader {
    padding: 0px;
}

.bar.bar-stable .title {
    color: #444;
    font-weight: bold;
}

.bluebg {
    background: url(../img/bluebg.png) no-repeat;
    background-size: cover;
}

#Register h1 {
    margin-top: 40px;
    font-size: 20px;
}

#Register .userplaceholder {
    background: url(../img/user-placeholder.png) no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: 150px 150px;
    overflow: hidden;
    margin-bottom: 10px
}

#Register .userplaceholder img {
    width: 100%;
    max-width: 100%;
}

.image-loader-container {
    margin: 9px;
    max-width: 100%;
    max-height: 81px;
    width: 100%;
    height: 100%;
    top: -7px;
    left: -8px;
    background: rgba(243, 243, 243, 0.55);
    color: #000!important;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.favlist .q {
    position: relative;
    color: #B0B0B0;
    font-size: 14px;
    float: left;
    margin-top: 5px;
}

.favlist .q .icon {
    left: -5px;
    font-size: 26px;
}

#login form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#Register .userplaceholder img {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.imgcont {
    height: 190px;
    overflow: hidden;
}

.createicon.activated i {
    background: #3ADCB4;
}

.createicon.activated {
    border-bottom: solid 1px #E5E5E5
}

.item.notactive .item-content {
    background: #e2e2e2!important;
}

.accountsettings {
    background: #F4F4F4;
}

.logoutbtn {
    margin: 20px 0;
    text-align: center;
    border: solid 1px #DDDDDD;
    border-right: 0;
    border-left: 0px;
    color: #F44848!important;
}

.settingslist .icon {
    color: #CCCCCC
}

.settingslist.activated .icon {
    color: #999
}

.toggle input:checked+.track {
    border-color: #3adcb4;
    background-color: #3adcb4;
}

.button.sendbtn {
    color: #b3b3b3!important;
    font-weight: bold!important;
}

.item-input-wrapper {
    background: none;
    border: solid 1px #ddd
}

.cu {
    color: #59c7e7;
    font-weight: bold;
    display: inline-block;
}

.owner .cu {
    display: none
}

.ct {
    color: #b0b0b0;
    display: inline-block;
    font-size: 12px;
    float: right;
}

.owner .ct {
    color: #0e88ad;
}

.cl {
    clear: both;
}

.button.button-positive {
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    border: solid 1px #fff;
    color: #fff;
    -webkit-box-shadow: -8px 28px 85px -3px rgba(186, 186, 186, 1);
    -moz-box-shadow: -8px 28px 85px -3px rgba(186, 186, 186, 1);
    background: url(../img/bl-bg.png) repeat-y #3797d0;
    background-size: contain;
    box-shadow: -8px 28px 85px -3px rgba(186, 186, 186, 1);
}

.button.button-assertive span {
    font-size: 13px;
    position: absolute;
    width: 100%;
    padding-top: 40px;
    left: 0px;
}

.platform-ios #Dashboard .button.button-assertive span {
    top: 36%
}

.range.range-balanced .distanceblock input::-webkit-slider-thumb:before {
    background: #3adcb4;
}

.bar.bar-stable .title {
    color: #fff;
    font-weight: bold;
    left: 0px!important;
    right: 0px!important;
}

.platform-ios .favlist .item-icon-right .icon {
    right: auto;
    top: -5px;
    left: 25px
}

.frmlist .item {
    background: transparent;
    border: none;
    padding: 0px 10px;
}

.item-input .txt {
    border-bottom: solid 1px #b0b0b0;
    padding-left: 55px;
    color: #3f7493;
    font-family: 'Droid Arabic Kufi';
    margin-bottom: 15px;
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 15px;
    height: auto;
}

.cnt {
    padding: 10px 20px;
}

.rbtn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Droid Arabic Kufi';
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    margin-bottom: 28px;
    border: solid 1px #fff;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    -webkit-box-shadow: -8px 28px 85px -3px rgba(186, 186, 186, 1);
    -moz-box-shadow: -8px 28px 85px -3px rgba(186, 186, 186, 1);
    box-shadow: -8px 28px 85px -3px rgba(106, 106, 106, 0.48);
}

.rbtn.activated {
    background: #67c938
}

.menu {
    background: url(../img/menu-bg.png) repeat-y center center #3f7493;
    padding: 20px;
}

.menu .scroll-content {
    padding: 0;
}

.forgotpassword {
    font-size: 20px;
}

.clear {
    clear: both;
}

.bar-stable .button.button-icon {
    color: #fff;
}

.mrg {
    margin: 10px 0;
}


/*Doc Listing*/

.doc {
    overflow: hidden;
    background: #fff;
    padding: 10px 5px;
    position: relative;
}

.doc .dimg {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;
}

.doc .dimg img {
    width: 100%;
}

.doc .dinfo {
    float: left;
    width: 70%;
    font-size: 12px;
}

.doc .dinfo h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.doc .dinfo i {}

.doc .dinfo .mt {
    margin-bottom: 10px;
    overflow: hidden;
}

.doc .dinfo .mt i {
    color: #71d242;
}

.doc .dinfo .o {
    position: absolute;
    top: 10px;
    right: 10px;
}

.doc .dinfo .o h4 {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.doc .dinfo .o i {
    font-size: 20px;
    color: #fa9f00;
    margin-right: 5px;
}

.doc .timings {
    margin-top: 10px;
    height: 58px;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
}

.doc .timings .t {
    display: inline-block;
    width: 32%;
    margin: 0 2px;
    padding: 5px 0px;
    border: solid 1px #3798d3;
    border-radius: 96px;
    text-align: center;
    -moz-box-shadow: -2px 3px 10px #DBDBDB;
    -webkit-box-shadow: -2px 3px 10px #DBDBDB;
    box-shadow: -2px 3px 10px #DBDBDB;
    color: #3798d3;
    font-family: 'Droid Arabic Kufi';
    font-size: 11px;
}
.doc .timings .t span{
    display:block;
    
}

.bdr {
    background: #3798d3;
    height: 3px;
    position: relative;
    width: 91%;
    margin: 0 auto 10px;
}

#DocListing .filteroptions {
    padding: 10px;
    text-align: right;
}
#DocListing{
    margin-top: 30px;
}

#DocListing .filteroptions .sort {
    background: url(../img/sort.png) no-repeat left center;
    background-size: 16px 15px;
    width: 51px;
    padding-top: 2px;
    color: #000;
    display: block;
    display: inline-block;
    margin-right: 15px;
}

#DocListing .filteroptions .filter {
    background: url(../img/filter-icon.png) no-repeat left center;
    background-size: 16px 15px;
    width: 51px;
    padding-top: 2px;
    color: #000;
    display: inline-block;
}

#DocListing .filteroptions {
    padding: 15px;
    text-align: right;
    font-family: 'Droid Arabic Kufi';
    overflow: hidden;
}


/* Menu Left */

#menu .user {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#menu .username {
    font-family: 'Droid Arabic Kufi';
    font-size: 15px;
    margin-bottom: 5px;
}

#menu .userimage {
    background: url(../img/user2.png) no-repeat center center;
    height: 140px;
    width: 140px;
    display: block;
    position: relative;
    margin: 0 auto;
}

#menu .userimage .bge {
    background: #6dd23d;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 17px;
    right: 18px;
    padding-top: 2px;
}

#menu .menulist a {
    display: block;
}

#menu .menulist a .new {
    background: url(../img/edit.png) no-repeat left center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

#menu .menulist a .my {
    background: url(../img/myappointments.png) no-repeat left center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

#menu .menulist a .account {
    background: url(../img/account.png) no-repeat left center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

#menu .menulist a.signo {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#menu .menulist a .signout {
    background: url(../img/signout.png) no-repeat left center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

#menu .menulist {
    margin-top: 50px;
}

#menu .menulist a {
    display: block;
    color: #fff;
    padding: 15px 10px 15px 30px;
    font-family: 'Droid Arabic Kufi';
}

#menu .menulist a.activated {
    background: url(../img/menu-hover.png) repeat-y left center;
    background-size: cover;
}


/* Doctor Detail */

gm-map {
    display: block;
    width: 100%;
    height: 190px;
}

.hfrm {
    overflow: hidden;
}

.hfrm .fr {
    overflow: hidden;
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.hfrm .lbl {
    width: 35%;
    float: left;
    color: #0b7cc0;
    padding: 10px 0px 0;
    font-size: 16px;
    font-family: 'Droid Arabic Kufi';
}

.hfrm input {
    float: right;
    width: 60%;
    background: none;
    font-size: 16px;
    color: #000;
    padding-top: 5px;
    padding-bottom: 0px;
}
.hfrm select {
    float: right;
    width: 65%;
    background: none;
    font-size: 16px;
    color: #000;
    padding-top: 5px;
    padding-bottom: 0px;
    border:none;
}
.bluehead {
    font-size: 21px;
    color: #3f7493;
    font-family: 'Droid Arabic Kufi';
    margin-bottom: 20px;
}

.userinfoHead {
    background: url(../img/user-blue.png) no-repeat left center;
    background-size: 15px 22px;
    padding: 10px 0px 10px 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.userinfoHead2 {
    background: url(../img/user-2.png) no-repeat left center;
    background-size: 25px 25px;
    padding: 10px 0px 10px 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.morebtn {
    background: #93adbc;
    padding: 6px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    width: 92px;
    font-family: 'Droid Arabic Kufi Bold';
}

.changepasswordbtn {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    overflow: hidden;
}

.changepasswordbtn {
    font-size: 17px;
    font-family: 'Droid Arabic Kufi';
    padding-top: 5px;
}

.blsmhead {
    text-align: center;
    font-size: 20px;
    font-family: 'Droid Arabic Kufi';
    color: #3f7493;
}

.whitebox {
    padding: 10px;
    background: #fff;
}

#Appoinment {
    width: 66%;
    margin: 0 auto;
    position: relative;
}

#Appoinment .dinfo {
    overflow: hidden;
}

#Appoinment .dinfo .doctor {
    font-size: 14px;
    font-family: 'Droid Arabic Kufi';
    margin-bottom: 20px;
    margin-top: 15px;
}

#Appoinment .dimg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: -52px;
}

#Appoinment .dimg img {
    width: 100%;
    max-width: 100%
}

#Appoinment .dinfo .doctor span {
    text-align: left;
    width: 95px;
    font-family: 'Droid Arabic Kufi';
    display: block;
    float: left;
}

#NewAppointment .Daybox {
    font-size: 29px;
    border-radius: 50px;
    -moz-box-shadow: 0px 1px 10px #DBDBDB;
    -webkit-box-shadow: 0px 1px 10px #DBDBDB;
    box-shadow: -1px 9px 10px #cecece;
    margin-bottom: 25px;
    border: solid 1px #2486c2;
    text-align: center;
    position: relative;
    font-family: 'Droid Arabic Kufi';
    color: #3798d3;
    padding: 18px 0px 23px 20px;
    width: 83%;
    margin: 12px auto 25px;
}

#NewAppointment .Daybox .dayhead {
    position: absolute;
    left: 15px;
    top: 20px;
    color: #7f7f7f;
    font-size: 11px;
    text-transform: uppercase;
}

#NewAppointment .Daybox .dayDetails span {
    margin: 0 10px;
}

#NewAppointment .Daybox .timedetails {
    font-size: 23px;
}

#NewAppointment .Daybox .timedetails span {
    margin: 0 0px;
}

#NewAppointment .ApRating {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

#NewAppointment .ApRating .ApratingLabel {
    font-family: 'Droid Arabic Kufi';
    font-size: 12px;
}

#NewAppointment .ApRating .f {
    color: #fa9f00;
    font-size: 20px;
}

.blue-boxline {
    width: 85%;
    background: #3798d3;
    height: 5px;
    margin: 0 auto;
}

.slist a {
    display: block;
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 50px;
    -moz-box-shadow: inset 0px -4px 0px #32a5ea;
    -webkit-box-shadow: inset 0px -4px 0px #32a5ea;
    box-shadow: inset 0px -4px 0px #32a5ea;
    margin-bottom: 10px;
    border: solid 1px #e0e0df;
    font-size: 15px;
    color: #000;
    text-align: left;
    font-family: 'Droid Arabic Kufi';
}

.slist a.activated {
    background: #fff;
    -moz-box-shadow: inset 0px -4px 0px #71d242;
    -webkit-box-shadow: inset 0px -4px 0px #71d242;
    box-shadow: inset 0px -4px 0px #71d242;
}

.slist i {
    float: right;
}

.calendar {
    background: url(../img/header.png) no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.calendar .dy{
    font-size:20px;
    background:#71d242;
    display:block;
    color: #000;
    padding: 10px 20px;
    margin-bottom: 40px;
    -moz-box-shadow: 5px 9px 11px 0px rgba(29, 8, 8, 0.37);
    -webkit-box-shadow: 5px 9px 11px 0px rgba(29, 8, 8, 0.37);
    box-shadow: 5px 9px 11px 0px rgba(29, 8, 8, 0.37);
}
.calendar .dt{
    font-size:20px;
}

.calendar .dt span {
    font-size: 70px;
    top: 13px;
    position: relative;
    margin: 0 10px;
    text-align: center;
    padding: 0px;
    font-weight: bold;
    width: 115px;
    display: inline-block;
    text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.28);
}



@media only screen 
and (max-device-width : 320px)  { 

#NewAppointment .Daybox .timedetails{
    font-size: 20px
}
.doc .timings .t{
    width:48%;
    font-size:13px;
}
}

.form-field{
    border-bottom-style: none !important;
}

.form-field .value{
    font-size: 16px;
    color: #000;
}

.form-field .label{
    width: 100%;
    height: 40px;
    padding-top: 5px;
}
.form-field .item.item-radio ,.form-field .radio-content .item-content{
    background: transparent !important;
} 
.pull-right{
    float: right;
}
.account-page .bar-footer button{
    color: #fff;
}

.theme-button-bg .title {
    font-weight: bold !important;
}
.icon.ion-ios-star{
    font-size: 25px;
    color: #fa9f00 !important;
}
.icon.ion-ios-star-outline{
    font-size: 25px;
}
.ionic_ratings{
    margin-bottom: 10px;
}
textarea{
    padding: 5px;
}
.confirm-booking-popup{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    width: 100%;
    z-index: 99;
}
.confirm-booking-popup>div{
    color: #fff;
    margin-top: calc(100% / 2);
    text-align: center;
    padding-top: 20px;
}
.confirm-booking-popup>div i{
    font-size: 100px;
}
.confirm-booking-popup>div>div{
    margin-top: 20px;

}

simple-calendar .day.default{
    background-color: transparent !important;
    text-align: center;
}
simple-calendar .day.default>div.day-number{
    background-color: #71d242;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 22px;
    font-size: 15px;
    display: inline-block;
}

.text-right{
    text-align: right !important;
}

.confirmation-account-page .input-label{
    margin: 0 auto; 
    font-size: 20px; 
    color: #3f7493;
}
.arbic-ltr{
    background-position-x: 250px;
    padding-right: 55px !important;
    padding-left: 24px !important;
    text-align: right;
}
.arbic-ltr-register{
    background-position-x: 96%;
    padding-right: 55px !important;
    padding-left: 24px !important;
    text-align: right;
}
.arabic.item-select:after{
    right: inherit !important;
}
.item-select select.arabic{
    right: inherit !important;
} 
.button.back-button.header-item ~ .buttons.buttons-left.header-item{
    display: none;
}
.home-page-bar button{
    display: block !important;
}
.home-page-bar .title.title-center.header-item{
    display: none;
}
.arabic-support .userinfoHead, .arabic-support .userinfoHead2{
    text-align: right;
    padding-right: 35px;
    background: url(../img/user-blue.png) no-repeat right center;
}
.arabic-support .hfrm .lbl{
    float: right;
    text-align: right;
}
.arabic-support .lbl.label>span.value{
    float: left;
}
.arabic-support .item-radio .item-content{
    padding-left: 64px;
    padding-right: 0px;
    text-align: right
}
.arabic-support .item-radio i{
    left: 0;
}
.arabic-support .item.item-input .icon{
    background: url(../img/icons/icon-user.png) no-repeat right center;
}
.platform-android .ios_title{
    display: none
}
.platform-android ion-header-bar .buttons-right.header-item{
    position: relative !important;
    left: 0;
}
h1.title.ios_title{
    margin-top: 20px;
}
